/* header elements */
.upperBackground{
  background-color: #F2FEF4;
  width: 100%
}


.logo{
  float:left;
}


.logo img{
  width: 400px;
  height: 110px;
}


@media screen and (max-width:960px){
  .logo img  {
      width:95%;
  }
}

@media screen and (max-width:780px){
  .logo img  {
      width:90%;
  }
}
/* DEPENDENCES */

.r-link{
  display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href]{
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list{
  padding-left: var(--rListPaddingLeft, 0) !important;
  margin-top: var(--rListMarginTop, 0) !important;
  margin-bottom: var(--rListMarginBottom, 0) !important;
  list-style: var(--rListListStyle, none) !important;
}


/* CORE STYLES */

/* fading siblings */

.menu:hover .menu__link:not(:hover){
  --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}

/* PRESENTATION STYLES */

.menu{
  --rLinkColor: var(--menuLinkColor, currentColor);
   background-color: #6495ED;
  box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
}

.menu__list{
  justify-content: center;
  align-items: center;
  display: flex;
}

.menu__link{
  display: var(--menuLinkDisplay, block);
  padding: var(--menuLinkPadding, 1.5rem 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
}
/* SMALLER SCREEN MENU*/
.smallScreenMenu{
  display:none;
}

.smallScreenList {
  margin: auto;
  padding: 10px;
  margin:10px;
  text-align: center;
  list-style-type:none;
  display:block;
}
.hamBtn{
  font-size: 25px;
  padding: 10px;
  color:white;
  float:left;
  cursor: pointer;
}
#check{
  display:none;
}
.smallMenuLink{
  font-size: 15px;
  color:white;
  text-decoration: none;
}
@media screen and (max-width:785px) {
  .menu__list
  {
    display: none;
  }
  .smallScreenMenu
  {
    display: block;
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
    background-color: #yellow;
    list-style-type: none;
  }
 .smallScreenMenu ul li {
    display: none;
  }
  #check:checked ~  ul li {
    display: block;
  }
}

/* TEXT UNDERLINED */

.text-underlined{
  position: relative;
  overflow: hidden;
  will-change: color;
  transition: color .25s ease-out;
}

.text-underlined::before,
.text-underlined::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);
  will-change: width;
  transition: width .1s ease-out;
  position: absolute;
  bottom: 0;
}

.text-underlined::before{
  left: 50%;
  transform: translateX(-50%);
}

.text-underlined::after{
  right: 50%;
  transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after{
  width: 100%;
  transition-duration: .2s;
}

/* SETTINGS MENU*/
.page__custom-settings{
  --menuLinkColor: #fff;
  --menuLinkColorUnactive: #black;
}

* {
  box-sizing: border-box;
}


/* Style the search field */
form.search input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: white;
  border-radius: 6px 0 0 6px;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #90EE90 ;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 0 6px 6px 0;
}

form.search button:hover {
  background: #ED6964;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width:1200px){
  form.search input[type=text]  {
      width:200px;
      float: left;
  }
}

@media screen and (max-width:780px){
  form.search input[type=text]  {
      width:20%;
      float: left;
  }
}

@media screen and (max-width:653px){
  form.search input[type=text]  {
      font-size: 14px;
      float: left;
  }
}


@media screen and (max-width:960px){
  form.search button  {
      width:15%;
      float: left;
  }
}

@media screen and (max-width:653px){
  form.search button  {
      font-size: 14px;
      float: left;
  }
}


/*firstPage elements*/

/*button*/
.btn {
  background-color: #6495ED;
  border: none;
  color: white;
  text-decoration: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 16px;
  cursor: pointer;
}


.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  /*opacity: 0.8*/
}


/*make button centered*/
.centerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/*first page elements*/
.container {
  position: relative;
  top: 0; right: 0; left: 0; margin: 0 auto; width: 90%; max-width: 1200;
  font-family: Arial;
  overflow: hidden;
}

.container image1{
  height: auto;
}
.smallScreenContainer{
  .display: none;
}

.text-block {
  overflow: auto;
  position:absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 50%;
  padding: 40px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 15%;
  margin-top: 15%;
}

@media screen and (max-width:1210px){
  .container{
    .position:absolute;
  }
  .text-block{
    position: relative;
    max-width: 100%;
  }
  .text-block p{
    font-size: 10px;
  }
}
@media screen and (max-width:680px){
  .text-block{
    padding: 3px;
    max-width:50%;
  }
}

.container .btn:hover {
  background-color: black;
}

/*space between buttons - firstPage*/
.space {
  width: 350px;
  height: auto;
  display: inline-block;
}

/*footer elements*/
.footerCSS {
  background-color: #BFD3F7;
  max-width: 100%;
}

.footerCSS p{
  font-family: Arial;
  color: black;
  cursor: default;
}

.footerCSS a{
  text-decoration: none;
}

#footerHref {
  color:black;
  text-decoration: none;
}

#footerHref:hover{
  color:gray;
}


.footerColumn{
  float:left;
  width: 33.33%;
  padding: 30px;
}

.footerCSS hr{
  height:2px;
  border-width:0;
  background-color:gray;
}

.footerRow:after{
  content: "";
 display: table;
 clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*ALTERNATIVE SOCIAL MEDIA ICONS*/
.icon{
  display: inline-block;
  font-size: 30px;
  animation: float 5s ease-in-out infinite;
}

.ri-facebook-circle-line{
    color: #1877f2;
    animation-delay: 1s; /* Adds a animation delay of 1 seconds.*/
}

.ri-youtube-line{
    color: #ff5252;
    animation-delay: 2s; /* Adds a animation delay of 2 seconds.*/
}
.ri-instagram-line{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* This is the first item so no animation delay needed.*/
}

@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0);
  }
}

/*all*/
/* style for h2*/
h2 {
  cursor: default;
  position:relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 30px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h2 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}

h2 em {
  font-style: normal;
  font-weight: 600;
}

h3{
  color: black;
  text-align: center;
  font-size: 25px;
  font-style:oblique;
}

.containerBlog {
  flex-wrap: wrap;
  display: flex;
  object-fit: contain;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  position: inherit;
  color: #ffffff;
  height: 210px;
  width: 85%;
}

.containerBlog:hover{
  transform: scale(1);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
}
  .containerBlog a{
    text-decoration: none;
    color: black;
  }

  .containerBlog h2 {
    margin-top: auto;
		font-weight: 300;
	}

  .containerBlog p{
    margin:auto;
    cursor:context-menu;
    margin-right: 10px;
    font-size: 16px;
    color:black;
    margin: auto;
  }

  img.containerBlog__img{
    height: 170px;
    width: 300px;
    float: left;
    margin-top: auto;
    margin-bottom: 18px;
    margin-right: 10px;
    margin-left: 15px;
    position: relative;
    border-radius: 3%;
  }

  .containerBlog .containerBlog__img_link {
    display: contents;
  }

  .containerBlog .containerBlog__text {
      padding: 0.8rem;
      position:inherit;
      flex-direction: column;
    }
  @media screen and (max-width:490px){
        .containerBlog__img {
          display: none;
        }
      }
/*login page*/

.login-img {
  /* The image used */
  background-image: url("uploads/img2.jpeg");

  min-height: 420px;
  left: 18%;
  border-radius:7px;
  margin: 10px;
  padding: 20px;
  text-align:center;
  color: white;
  clear: both;
  font-size: 100px;
  font-weight: 80px;
  max-width: 65%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size:  auto;
  position: relative;
}

.login-container {
  position: absolute;
  left: 38%;
  top: -1%;
  margin: 10px;
  max-width: 500px;
  padding: 6px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  border-radius:5px
  font-size: 5px;
}

/*contactpage*/

.sumbit-and-send {
  position: relative;
  width: 70px;
  height: 30px;
  font-size: 10px;
  background-color: #6495ED;
  color:white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: width 5s, border-radius 5s;
}

.submit-and-send *{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .25s;
}

.icon2{
  opacity: 0;
}

.submit-and-send:focus{
  width:30px;
  background-color: #44c08a;
  border-radius: 50%;
}

.submit-and-send:focus .text2{
  opacity: 0;
}

.submit-and-send:focus .icon2{
  opacity: 1;
  transition-delay: .5s;
}

.messenge {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
}

.messenge input[type=email] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 80%;
  background: #f1f1f1;
}

.send {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
}

.send textarea {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 80%;
  background: #f1f1f1;
}
.bg-img1 {
  /* The image used */
  background-image: url("uploads/image6.jpg");
  min-height: 450px;
  border-radius:7px;
  margin: 10px;
  padding: 50px;
  text-align:center;
  color: white;
  clear: both;
  font-size: 20px;
  font-weight: 800;
  max-width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size:  auto;
  position: relative;
}


.containercontact {
  margin: 40px;
  max-width: 500px;
  padding: 6px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  border-radius:5px;
}

.contact-style-textbox {
    background-color: #f1f1f1;
    border: none;
    border-radius: 6px;
    margin: 8px 0;
    padding: 10px 8px;
    outline: none;
    border: 1px solid grey;
    font-size: 15px;
}

/*addpage*/
.add{
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
  list-style-position: inside;
}

.add textarea {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 50%;
  background:#f1f1f1;
}

.add-style {
  /* The image used */
  background-image: url("uploads/image4.jpg");
  min-height: 700px;
  border-radius:7px;
  margin: 10px;
  padding: 50px;
  text-align:center;
  align-items: center;
  color: white;
  clear: both;
  font-size: 20px;
  font-weight: 800;
  max-width: 100%;
  /* Center and scale the image nicely */
  position: relative;
}

.add-style-textbox {
    background-color:#f1f1f1;
    border: none;
    border-radius: 6px;
    margin: 8px 0;
    padding: 10px 8px;
    outline: none;
    border: 1px solid grey;
    font-size: 15px;
}

/*pagination*/
.pagination {
    display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  margin-bottom: 20px;
}

.pagination a.active {
  background-color: #6495ED;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.center {
  text-align: center;
}


/*sign up page*/
.name {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
}

.name input[type="text"] {
  float: center;
  width: 80%;
  background-color: white;
  border: none;
  border-radius: 6px;
  margin: 8px 0;
  padding: 10px 8px;
  outline: none;
  border: 1px solid grey;
  font-size: 15px;
}

.email {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
}

.email input[type=email] {
  float: center;
  width: 80%;
  background-color: white;
  border: none;
  border-radius: 6px;
  margin: 8px 0;
  padding: 10px 8px;
  outline: none;
  border: 1px solid grey;
  font-size: 15px;
}

.firstname {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
}

.firstname input[type="text"] {
  float: center;
  width: 80%;
  background-color: white;
  border: none;
  border-radius: 6px;
  margin: 8px 0;
  padding: 10px 8px;
  outline: none;
  border: 1px solid grey;
  font-size: 15px;
}

.surname {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
}

.surname input[type="text"] {
  float: center;
  width: 80%;
  background-color: white;
  border: none;
  border-radius: 6px;
  margin: 8px 0;
  padding: 10px 8px;
  outline: none;
  border: 1px solid grey;
  font-size: 15px;
}

.date {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
}

.date input[type="date"] {
  float: center;
  width: 80%;
  background-color: white;
  border: none;
  border-radius: 6px;
  margin: 8px 0;
  padding: 10px 8px;
  outline: none;
  border: 1px solid grey;
  font-size: 15px;
}

.password {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
}

.password input[type="password"] {
  float: center;
  width: 80%;
  background-color: white;
  border: none;
  border-radius: 6px;
  margin: 8px 0;
  padding: 10px 8px;
  outline: none;
  border: 1px solid grey;
  font-size: 15px;
}

.passwordverification {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
}

.passwordverification input[type="password"] {
  float: center;
  width: 80%;
  background-color: white;
  border: none;
  border-radius: 6px;
  margin: 8px 0;
  padding: 10px 8px;
  outline: none;
  border: 1px solid grey;
  font-size: 15px;
}




.experttitle {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
}

.experttitle input[type="text"] {
  float: center;
  width: 80%;
  background-color: white;
  border: none;
  border-radius: 6px;
  margin: 8px 0;
  padding: 10px 8px;
  outline: none;
  border: 1px solid grey;
  font-size: 15px;
}

.expertcategories {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
}

.expertcategories select {
  float: center;
  width: 80%;
  background-color: white;
  border: none;
  border-radius: 6px;
  margin: 8px 0;
  padding: 10px 8px;
  outline: none;
  border: 1px solid grey;
  font-size: 15px;
}

.expert {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  max-width: 1000px;
  margin: auto;
}

.expert input[type="radio"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 80%;
  background: #f1f1f1;
}

/*Background for myProfile.php*/
.content-myprofile {
  list-style-position: inside;
  background: #f7cbcb;
  text-align: center;
  padding: 25px;
}

/*containers for errors and success*/
.containerErrors{
  background: rgb(237, 105, 100); /* Fallback color */
  background: rgba(237, 105, 100, 0.5); /* Black background with 0.5 opacity */
  color: #ed5651;
  text-align: center;
  border: 1px;
  position: relative;
  top: 0; right: 0; left: 0; margin: 0 auto; width: 50%; max-width: 1000;
  font-family: Arial;
  overflow: hidden;
}

.containerSuccess{
  background: rgb(144, 238, 144); /* Fallback color */
  background: rgba(144, 238, 144, 0.5); /* Black background with 0.5 opacity */
  color: #4af04a;
  text-align: center;
  position: relative;
  top: 0; right: 0; left: 0; margin: 0 auto; width: 50%; max-width: 1000;
  font-family: Arial;
  overflow: hidden;
}

/*signup*/

.signupbtn{
  background-color: #6495ED;
  border: none;
  color: white;
  text-decoration: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius: 16px;
  opacity: 0.7;
  cursor: not-allowed;
}

.signupbtn:enabled{
  opacity: 1;
  cursor: pointer;
}

.signup-img {
  /* The image used */
  background-image: url("uploads/img2.jpeg");

  min-height: 750px;
  border-radius:7px;
  margin: 10px;
  padding: 50px;
  text-align:center;
  color: white;
  clear: both;
  font-size: 20px;
  font-weight: 800;
  max-width: 1000%;
  /* Center and scale the image nicely */
  background-position: center;
  background-size:  auto;
  position: relative;
}

.signup-container {
  position: absolute;
  left: 35%;
  top: -4%;
  margin: 40px;
  max-width: 500px;
  padding: 6px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  border-radius:5px
}
.cdu-container {
  position: absolute;
  left: 35%;
  top: 0%;
  margin: 40px;
  max-width: 500px;
  padding: 6px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  border-radius:5px
}
.table-div{
  position: absolute;
  left: -2%;
  top: 0%;
  margin: 40px;
  max-width: 700px;
  padding: 6px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  border-radius:5px
}
/* The message box is shown when the user clicks on the password field */
#message {
  display:  none;
  color: #000;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  position:  absolute;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: #00FF00;
 }

.valid:before {
   position: relative;
   left: -35px;
   content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
   color: #ff69b4;
}

.invalid:before {
   position: relative;
   left: -35px;
   content: "✖";
}
/* The message box is shown when the user clicks on the password field */
#message1 {
 display:none;
 background: rgb(0, 0, 0); /* Fallback color */
 background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
 color: #f1f1f1;
 color: #000;
 position: absolute;
 padding: 20px;
 margin-top: 10px;
}

#message1 p {
 padding: 10px 35px;
 font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid1 {
 color: #00FF00;
}

.valid1:before {
  position: relative;
  left: -35px;
  content: "✔";
}
/* Add a red text color and an "x" when the requirements are wrong */
.invalid1 {
 color: #ff69b4;
}

.invalid1:before {
 position: relative;
 left: -35px;
 content: "✖";
}

/* categories */
.header {
  text-align: center;
  font: Arial;
  font-size: 30px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Container needed to position the overlay. Adjust the width as needed */

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 40px;
  padding: 50px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.header:hover .overlay {
  opacity: 1;
}

.readmore{
    padding:7px;
    text-align:center;
    margin:14px;
}

.content {
  list-style-position: inside;
  background: #def3f2;
  text-align: center;
  padding: 20px;
}


/*experts card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 450px;
  margin: auto;
  float: center;
  background-color: white;
  text-align: center;
  font-family: arial;
}

.content-experts {
  list-style-position: inside;
  background: #f2fafa;
  text-align: center;
  padding: 25px;
}

.title1 {
  color: grey;
  font-size: 18px;
}


/* user settings click dropdown */

/* Style The Dropdown Button */
.dropbtn {
  background-color: #ED6964;
  color: white;
  padding: 18px;
  font-size: 19px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #90EE90}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #90EE90;
  }

@media screen and (max-width:960px){
      .dropbtn{
        font-size: 17px;
      }
    }
@media screen and (max-width:653px){
        .dropbtn{
          font-size: 13px;
        }
      }
